<!DOCTYPE html>
<html>
<head>
    <title>章节{{ idx }}：{{ data.title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <h1 style="text-align: center;">章节{{ idx }}：{{ data.title }}</h1>
    <div id="markdownDisplay">
---

## {{ data["title"] }}

---

{{ data["raw_content"] }}

---

### 所含文本块

{{ data["text_unit_ids"] }}
    </div>
    <script>
        var text = document.getElementById('markdownDisplay').innerHTML;
        var markdownContent = marked.parse(text);
        document.getElementById('markdownDisplay').innerHTML = markdownContent;
    </script>
</body>
</html>