<!DOCTYPE html>
<html>
<head>
    <title>实体{{ idx }}：{{ data.title }}</title>
    <style>
        table {
            margin: auto;
            border-collapse: collapse;
            width: 50%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: center;
        }
        td {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">实体{{ data.human_readable_id }}：{{ data.title }}</h1>
    <table>
        <tr><th>属性</th><th>值</th></tr>
        <tr><td>ID</td><td>{{ data.id }}</td></tr>
        <tr><td>名称</td><td>{{ data.title }}</td></tr>
        <tr><td>类型</td><td>{{ data.type }}</td></tr>
        <tr><td>描述</td><td>{{ data.description }}</td></tr>
        <tr><td>所在文本块</td><td>{% for doc in data.sources %}<div>{{ doc }}：{% for i in data.sources[doc] %}<a href="/v1/references/{{ index_id }}/sources/{{ i }}">{{ i }}</a> {% endfor %}</div>{% endfor %}</td></tr>
        <tr><td>所在社区</td><td>{% for level, com in data.communities.items() %}<div>{{ level }}级：{% if com %}<a href="/v1/references/{{ index_id }}/reports/{{ com[0] }}">{{ com[1] }}</a>{% else %}无{% endif %}</div>{% endfor %}</td></tr>
        <tr><td>重要性指数（节点的度数）</td><td>{{ data.degree }}</td></tr>
        <tr><td>描述Embedding</td><td>{{ data.description_embedding }}</td></tr>
        <tr><td>图Embedding</td><td>{{ data.graph_embedding }}</td></tr>
        <tr><td>x</td><td>{{ data.x }}</td></tr>
        <tr><td>y</td><td>{{ data.y }}</td></tr>
    </table>
</body>
</html>