<!DOCTYPE html>
<html>
<head>
    <title>实体{{ id }}：{{ data.human_readable_id }}：{{ data.name }}</title>
    <style>
        table {
            margin: auto;
            border-collapse: collapse;
            width: 50%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: center;
        }
        td {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">实体{{ data.human_readable_id }}：{{ data.name }}</h1>
    <table>
        <tr><th>属性</th><th>值</th></tr>
        <tr><td>ID</td><td>{{ data.id }}</td></tr>
        <tr><td>名称</td><td>{{ data.name }}</td></tr>
        <tr><td>类型</td><td>{{ data.type }}</td></tr>
        <tr><td>描述</td><td>{{ data.description }}</td></tr>
        <tr><td>描述Embedding</td><td>{{ data.description_embedding }}</td></tr>
        <tr><td>所在社区</td><td>{% for i, report in data.community %}<a href="/v1/references/{{ index_id }}/reports/{{ i }}">{{ report }}</a> {% endfor %}</td></tr>
        <tr><td>所在文本块</td><td>{% for i, id in data.text_unit_ids %}<li><a href="/v1/references/{{ index_id }}/sources/{{ i }}">{{ id }}</a></li>{% endfor %}</td></tr>
        <tr><td>重要性指数</td><td>{{ data.rank }}</td></tr>
    </table>
</body>
</html>