<!DOCTYPE html>
<html>
<head>
    <title>实体{{ idx }}：{{ data.title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <h1 style="text-align: center;">实体{{ data.human_readable_id }}：{{ data.title }}</h1>
    <div id="markdownDisplay">
---

***名称：{{ data["title"] }}，类型：{{ data["type"] }}***

---

{{ data["description"] }}

---

### 所在章节和文本块

{% for doc in data["sources"] %}
#### {{ doc }}

{% for i in data["sources"][doc] %}<a href="/v1/references/{{ index_id }}/sources/{{ i }}">{{ i }}</a> {% endfor %}

{% endfor %}

---

### 所在社区

{% for level, com in data["communities"].items() %}
**{{ level }}级**：{% if com %}<a href="/v1/references/{{ index_id }}/reports/{{ com[0] }}">{{ com[1] }}</a>{% else %}无{% endif %}

{% endfor %}
    </div>
    <script>
        var text = document.getElementById('markdownDisplay').innerHTML;
        var markdownContent = marked.parse(text);
        document.getElementById('markdownDisplay').innerHTML = markdownContent;
    </script>
</body>
</html>