<!DOCTYPE html>
<html>
<head>
    <title>关系{{ idx }}：{{ data["title"] }}</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <h1 style="text-align: center;">关系{{ data["human_readable_id"] }}：{{ data["title"] }}</h1>
    <div id="markdownDisplay">
---

***起点：<a href="/v1/references/{{ index_id }}/entities/{{ data["source"][0] }}">{{ data["source"][1] }}</a>，终点：<a href="/v1/references/{{ index_id }}/entities/{{ data["target"][0] }}">{{ data["target"][1] }}</a>，重数：{{ data["weight"] }}，起点度数：{{ data["source_degree"] }}，终点度数：{{ data["target_degree"] }}，重要性指数（起点和终点的度数之和）：{{ data["rank"] }}***

---

{{ data["description"] }}

---

### 所在章节和文本块

{% for doc in data["sources"] %}
#### {{ doc }}

{% for i in data["sources"][doc] %}<a href="/v1/references/{{ index_id }}/sources/{{ i }}">{{ i }}</a> {% endfor %}

{% endfor %}
    </div>
    <script>
        var text = document.getElementById('markdownDisplay').innerHTML;
        var markdownContent = marked.parse(text);
        document.getElementById('markdownDisplay').innerHTML = markdownContent;
    </script>
</body>
</html>