<!DOCTYPE html>
<html>
<head>
    <title>社区报告{{ idx }}：{{ data["title"] }}</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <h1 style="text-align: center;">社区报告{{ data["community"] }}：{{ data["title"] }}</h1>
    <div id="markdownDisplay">
---

***标题：{{ data["title"] }}，所在层级：{{ data["level"] }}，重要性指数（结果排序用）：{{ data["rank"] }}***

---

### 摘要

{{ data["summary"] }}

---

{{ data["full_content"] }}

---

### 所含关系

{% for i, relationship in data.relationships %}
{{ i }}：<a href="/v1/references/{{ index_id }}/relationships/{{ i }}">{{ relationship }}</a>

{% endfor %}

---

### 所含章节和文本块

{% for doc in data["sources"] %}
#### {{ doc }}

{% for i in data["sources"][doc] %}<a href="/v1/references/{{ index_id }}/sources/{{ i }}">{{ i }}</a> {% endfor %}{% endfor %}

    </div>
    <script>
        var text = document.getElementById('markdownDisplay').innerHTML;
        var markdownContent = marked.parse(text);
        document.getElementById('markdownDisplay').innerHTML = markdownContent;
    </script>
</body>
</html>